@import "tailwindcss";

@layer base {
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #FBF8F2;
    color: #1E1B16;
  }
  h1, h2, h3, h4, .font-serif {
    font-family: 'Cinzel', serif;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #F3EBDA;
}

::-webkit-scrollbar-thumb {
  background: #B9964A;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8C6D2F;
}
